.feature_section {
    position: relative;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.5;
    padding: 70px 0 50px 0;
    display: flex;
    gap: 30px;
    flex-direction: column;


    .feature_grid_section {
        position: relative;
        width: 100%;
        line-height: 1.5;

        .feature_grid_container {
            position: relative;
            width: 100%;
            display: grid;
            gap: 30px;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            .feature_column {
                position: relative;
                width: 100%;
                border-radius: 3px;

                .feature_description {
                    display: flex;
                    gap: 10px;
                    flex-direction: column;

                    h1 {
                        color: var(--primary-color) !important;
                        font-size: var(--heading-size);
                    }


                    p {
                        opacity: .8;
                        font-size: 16px;

                        @media (max-width: 900px) {
                            margin-top: .5em;
                        }
                    }

                    button {
                        color: white !important;
                    }
                }

                .feature_display {
                    width: 100%;
                    gap: 1em;
                    display: flex;

                    .part_one {
                        width: 100%;
                        height: 300px;
                        min-height: 300px;
                        max-height: 350px;
                        border-radius: 5px;
                        background-color: var(--primary-color);
                        overflow: hidden !important;

                        &:nth-child(2) {
                            margin-top: 10%;
                        }

                        img {
                            max-width: 100% !important;
                            width: 100% !important;
                            height: 100% !important;
                            max-height: 100% !important;
                            object-fit: cover;
                        }
                    }
                }
            }

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 40px 0;
    }
}
