#modal_full_background {
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff !important;
    background-color: rgba(14, 14, 14, 0.6);
    z-index: 999999;
    backdrop-filter: blur(4px);

    .modal_container {
        width: 100%;
        max-width: 500px;
        height: 100%;
        margin-top: 5vh;
        max-height: 80% !important;
        padding: 2em;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        /* Additional Background */
        background-color: rgba(14, 14, 14, 0.928);
        background-image:
            repeating-radial-gradient(circle at center bottom,
                rgba(204, 204, 204, 0.03),
                transparent, 15px, transparent 70px, transparent 15px);
        background-attachment: fixed;
        backdrop-filter: blur(10px);


        .top_section {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                font-weight: 500;
            }
        }

        .content_section {
            width: 100%;
            display: flex;
            gap: 40px;
            padding: 20px;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            background-color: rgba(251, 251, 251, 0.01);


            .discovered_room {
                position: relative;
                display: flex;
                padding: 1.5em;
                font-size: 18px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                align-items: center;
                cursor: pointer;
                justify-content: center;
                border: 1px solid rgb(112, 110, 110);
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                background-color: var(--primary-color);
                z-index: 99999 !important;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    background-color: rgba(251, 251, 251, 0.4);
                    opacity: .1;
                    border-radius: 50%;
                    z-index: 1;
                }
            }
        }

        .bottom_section {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .bottom_action {
                display: flex;
                padding: 1em;
                clip-path: circle();
                align-items: center;
                cursor: pointer;
                justify-content: center;
                background-color: var(--primary-color);
            }

            li {
                font-size: 16px;
                text-align: center;
            }
        }

        @media (max-width: 768px) {
            max-width: 90% !important;
            max-height: 70% !important;
        }
    }
}
